### OSX ###
.DS_Store
### Git ###
#git/.gitconfig-local

### VIM ###
NetrwTreeListing*
nvim/.config/nvim/lazy-lock.json
### LazyVim ###
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
#
### Karabiner ###
karabiner/automatic_backups/

### Raycast Extensions ###
config/raycast/extensions/

### REPOS ###
repos/work.list
repos/playground.list

### PRIVATE ###
private/ssh/
.gitsecret/keys/random_seed
!*.secret
config/.config/lazygit/state.yml
