.DS_Store
NetrwTreeListing*

### Jekyll ###
.sass-cache/
.jekyll-cache/
.jekyll-metadata/
.jekyll-metadata

### Sass ###
.sass-cache/

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
/vendor/
/Godeps/
### Go Patch ###
repos/work.list
repos/playground.list
