/**
 * Elbritch colors - https://github.com/eldritch-theme/eldritch
 * #212337
 * #323449
 * #ebfafa
 * #7081D0
 * #04d1f9
 * #37f499
 * #f7c67f
 * #f265b5
 * #a48cf2
 * #f16c75
 * #f1fc79
 */
/* Font - for UI elements only */
.mac {
	font-family: Lilex, monospace;
}

/* Exclude editor from font override */
.monaco-editor {
	font-family: inherit;
}

/* Explore */
[aria-label="Timeline"] + h3 {
	color: coral;
}

[aria-label="Open Editors"] + h3,
[aria-label="Source Control"] + h3.title {
	color: #f265b5;
}

[aria-label="Favorites Section"] > h3.title {
	color: #f265b5;
}

/* Project Title */
.titlebar-left {
	justify-content: flex-start;
	flex-grow: 0;
	width: 4rem;
}

/* Editor Actions - in titlebar */
.titlebar-right > * {
	display: none;
}

/* action panel - when on bottom */
.monaco-workbench .pane-composite-part
	> .header-or-footer
	.composite-bar-container {
	justify-content: flex-end;
}

.action-item.icon:not(.checked) > a {
	color: rgba(112, 129, 208, 0.29);
}

.action-item.icon:not(.checked)
	> a[class*="activity-workbench-view-extension-project-manager-"] {
	background-color: rgba(112, 129, 208, 0.29);
}

/* Command prompt blur */
#command-blur {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
	top: 0;
	left: 0;
	backdrop-filter: blur(8px);
}

.quick-input-widget {
	transform: translateY(-50%);
	top: 50%;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.45);
	padding: 10px 10px 18px 10px;
	border-radius: 6px;
	border: 1px solid rgba(65, 72, 104, 0.333);
	z-index: 1000000;
}

.monaco-workbench::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	z-index: 999999;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	visibility: hidden;
}

.quick-input-widget:not(:empty) ~ .monaco-workbench::after {
	opacity: 1;
	visibility: visible;
}

.quick-input-list {
	max-height: calc(50vh - 60px);
	overflow-y: auto;
}

.quick-input-titlebar {
	display: none;
}

.quick-input-header {
	padding: 8px 6px 8px;
}

.monaco-icon-label
	> .monaco-icon-label-container
	> .monaco-icon-description-container
	> .label-description {
	white-space: inherit;
}

.monaco-scrollable-element .shadow.top {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
	top: -3px;
}

/* Scroll bar */
.scrollbar.vertical .slider {
	width: 2px;
	border-radius: 5px;
	margin-left: 10px;
}

.scrollbar.horizontal .slider {
	border-radius: 5px;
	height: 2px;
}

.scrollbar.horizontal {
	position: absolute;
	height: 2px;
	bottom: 3px;
	left: 0px;
}

/* Search icon */
.search-icon {
	display: none;
}

.codicon-search::before {
	display: none;
}
