# Aerospace docs: https://nikitabobko.github.io/AeroSpace/guide
##########################################################################
###### This config is inteneded to be paired with the Leaderkey app ######
##########################################################################
config-version = 2
after-startup-command = [
  'exec-and-forget borders active_color=0xffa48cf2 inactive_color=0xff3B446A width=5.0',
]
start-at-login = false

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

default-root-container-layout = 'tiles'     #Possible values: tiles|accordion
default-root-container-orientation = 'auto'
accordion-padding = 30

automatically-unhide-macos-hidden-apps = false #focuses app regardless of visibility
persistent-workspaces = ["hq", "code", "design", "comms", "overflow"]
exec-on-workspace-change = [
  '/bin/bash',
  '-c',
  'sketchybar --trigger aerospace_workspace_change FOCUS_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE',
]
on-focus-changed = [
  'move-mouse window-lazy-center',
  'exec-and-forget sketchybar --trigger aerospace_focus_change',
]
on-mode-changed = ['exec-and-forget sketchybar --trigger aerospace_mode_change']

[gaps]
inner.horizontal = 5
inner.vertical = 5
outer.top = 2
outer.left = 5
outer.right = 5
outer.bottom = 5

[key-mapping]
preset = 'qwerty'

[mode.main.binding]
alt-ctrl-shift-0 = 'workspace hq'       # 0 -> primary workspace
alt-ctrl-shift-1 = 'workspace code'     # 1 -> dev apps
alt-ctrl-shift-2 = 'workspace design'   # 2 -> design apps
alt-ctrl-shift-3 = 'workspace comms'    # 3 -> comms
alt-ctrl-shift-4 = 'workspace overflow' # 4 -> overflow

# jump to last workspace
alt-ctrl-shift-tab = 'workspace-back-and-forth'
# cycle through workspaces
alt-ctrl-shift-leftSquareBracket = 'workspace prev'
alt-ctrl-shift-rightSquareBracket = 'workspace next'
# cycle through window/app focus
alt-ctrl-shift-j = 'focus down'
alt-ctrl-shift-h = 'focus left'
alt-ctrl-shift-k = 'focus up'
alt-ctrl-shift-l = 'focus right'

[mode.resize.binding] # hyper+w+s
h = 'resize width -50'
j = 'resize height +50'
k = 'resize height -50'
l = 'resize width +50'
0 = 'balance-sizes'
esc = 'mode main'
enter = 'mode main'

[mode.move.binding] # hyper+w+m
h = 'move left'
j = 'move down'
k = 'move up'
l = 'move right'
esc = 'mode main'
enter = 'mode main'

######### Assigned Workspaces to Apps ##########
[[on-window-detected]] # HQ Workspace
if.app-name-regex-substring = 'Zen|Brave|Safari*|Google Chrome|Vivaldi'
run = "move-node-to-workspace hq"

[[on-window-detected]] # Coding Workspace
if.app-name-regex-substring = '.*Code|Zed|iTerm|kitty|WezTerm|Warp*|Ghostty|Antigravity|Typora|Maestro|Bazecor'
run = "move-node-to-workspace code"

[[on-window-detected]] # Designing Workspace
if.app-name-regex-substring = ".*Creative|Adobe|Figma|Affinity|Shapr3D|.*Fusion|.*CAD|.*Slicer|.*Studio|AnycubicPhotonWorkshop|Microsoft (?!Teams).*|GIMP|Inkscape|Snapmaker Orca"
run = "move-node-to-workspace design"

[[on-window-detected]] # Comms Workspace
if.app-name-regex-substring = 'Messages|Microsoft Teams|Notion*|Slack|Discord|WhatsApp|Claude'
run = "move-node-to-workspace comms"

[[on-window-detected]] # Overflow Workspace
if.app-name-regex-substring = 'Notes|Reminders|Todoist|Obsidian|Notion|Claude|OpenCode'
run = "move-node-to-workspace overflow"

[[on-window-detected]] # Overflow Workspace with floating windows
if.app-name-regex-substring = '.*toggl|Cyberduck'
run = ['layout floating', 'move-node-to-workspace overflow']

# Floating Windows
[[on-window-detected]]
if.app-name-regex-substring = '.*Finder|.*raycast|.*karabiner|.*colorslurp|.*ice|.*shottr|.*dropbox|.*keka|Preview'
run = "layout floating"
