# Theme selection: "eldritch", "rose-pine", "rose-pine-moon", "rose-pine-dawn"
palette = "rose-pine-moon"

format = "$all"
# right_format = "$cmd_duration"

command_timeout = 500

## start palettes ##
[palettes.eldritch]
green = "#37F499"
red = "#F7768E"
cyan = "#04D1F9"
pink = "#F265B5"
purple = "#A48CF2"
orange = "#F69F4D"
yellow = "#E0AF68"
muted = "#CFC9C2"
aws = "#FFA400"
deno = "#888888"
node = "#8CC84B"
bun = "#CCBEA7"
go = "#7FD5EA"
lua = "#7DCFFF"
php = "#4063DB"
python = "#906cff"
ruby = "#CF043D"
rust = "#99908A"

[palettes.rose-pine]
green = "#31748f"
red = "#eb6f92"
cyan = "#9ccfd8"
pink = "#ebbcba"
purple = "#c4a7e7"
orange = "#ea9a97"
yellow = "#f6c177"
muted = "#908caa"
aws = "#f6c177"
deno = "#6e6a86"
node = "#31748f"
bun = "#ebbcba"
go = "#9ccfd8"
lua = "#9ccfd8"
php = "#c4a7e7"
python = "#c4a7e7"
ruby = "#eb6f92"
rust = "#908caa"

[palettes.rose-pine-moon]
green = "#3e8fb0"
red = "#eb6f92"
cyan = "#9ccfd8"
pink = "#ea9a97"
purple = "#c4a7e7"
orange = "#ea9a97"
yellow = "#f6c177"
muted = "#908caa"
aws = "#f6c177"
deno = "#6e6a86"
node = "#3e8fb0"
bun = "#ea9a97"
go = "#9ccfd8"
lua = "#9ccfd8"
php = "#c4a7e7"
python = "#c4a7e7"
ruby = "#eb6f92"
rust = "#908caa"

[palettes.rose-pine-dawn]
green = "#286983"
red = "#b4637a"
cyan = "#56949f"
pink = "#d7827e"
purple = "#907aa9"
orange = "#ea9d34"
yellow = "#ea9d34"
muted = "#9893a5"
aws = "#ea9d34"
deno = "#797593"
node = "#286983"
bun = "#d7827e"
go = "#56949f"
lua = "#56949f"
php = "#907aa9"
python = "#907aa9"
ruby = "#b4637a"
rust = "#797593"
## end palettes ##

[battery]
disabled = true

## start character ##
[character]
success_symbol = '[](bold green)'
error_symbol = '[](bold red)'

[shell]
fish_indicator = ""
unknown_indicator = "?"
style = "bold fg:white"
disabled = false
## end character ##

## start prompt ##
[directory]
format = "[⚡︎](cyan)[$path]($style)[$read_only]($read_only_style) "
read_only = " "
truncation_symbol = "󰿟"

[git_branch]
style = "pink"
symbol = " "
format = "on [$symbol$branch(:$remote_branch)]($style)[ ≡]($style) "

[git_metrics]
disabled = false
added_style = "green"
deleted_style = "red"
format = '[+$added]($added_style)/[-$deleted]($deleted_style) '

[git_status]
style = "white"
format = "([$all_status$ahead_behind]($style) )"
conflicted = "[ ](fg:red bg:bright-black)"
ahead = "[ ×${count} ](white)"
behind = "[ ×${count} ](white)"
diverged = "[ ×${ahead_count} ×${behind_count} ](bg:bright-black)"
untracked = "️[ ×${count} ](orange)"
stashed = " "
modified = "[ ×${count} ](yellow)"
staged = "[ ×${count} ](green)"
deleted = "[ ×${count} ](red)"
renamed = "[ ×${count} ](orange)"

[cmd_duration]
disabled = false
min_time = 1
format = "[󰔛 $duration]($style)"
show_milliseconds = true
style = "muted"
## end prompt ##

## start custom symbols ##
[package]
symbol = "󰏗 "

[aws]
style = "aws"
format = "[$symbol($version )]($style)"
symbol = "  "

[deno]
format = "[$symbol($version )]($style)"
style = "deno"
symbol = "󱍢 "

[nodejs]
format = "[$symbol($version )]($style)"
style = "node"
symbol = "󰎙 "
detect_extensions = []

[bun]
format = "[$symbol($version )]($style)"
style = "bun"
symbol = " "
detect_extensions = []

[golang]
style = "go"
format = "[$symbol($version )]($style)"
symbol = " "

[lua]
style = "lua"
format = "[$symbol($version )]($style)"
symbol = " "

[php]
style = "php"
format = "[$symbol($version )]($style)"
symbol = " "

[python]
style = "python"
format = "[$symbol($version )]($style)"
symbol = " "

[ruby]
style = "ruby"
format = "[$symbol($version )]($style)"
symbol = "󰴭 "

[rust]
style = "rust"
format = "[$symbol($version )]($style)"
symbol = " "
## end custom symbols ##
