[include]
# paths = ["/etc/topgrade.toml"]

[misc]
pre_sudo = false
disable = [
  "system",
  "vscode",
  "containers",
  "ruby_gems",
  "tlmgr",
  "node",
  "pnpm",
  "yarn",
  "git_repos",
  "shell",
]

ignore_failures = ["bun_packages"]

assume_yes = true

no_retry = true

cleanup = true

skip_notify = true

# Custom Pre-commands
# [pre_commands]

# Custom commands
[commands]
"Fisher Plugins" = "fisher update &>/dev/null; and echo 'Fisher Update Complete'"
"LazyVim Plugins" = "nvim --headless -c 'Lazy! sync' +qa"
"Treesitter Parsers" = "nvim --headless -c 'sleep 100m' -c 'TSUpdate' -c 'qa'"
# TODO: add MasonUpdate command

# Custom Post-commands
[post_commands]
"Brew - Cleanup" = "brew cleanup --prune=all"

[composer]
self_update = true

[brew]
greedy_cask = true
autoremove = true

[git]
repos = ["~/.config/nvim"]
